/*--RBG color--*/

body {
    background-color: rbg (47,39,64);}

/*--HEX Color--*/
h1 {
    background-color: #2E004D;}
/*--HSL color--*/
h2 {
    background-color: hsl(230, 96%, 27%);}
/*--Color Name--*/
h3 {
    background-color: springgreen;}

body {
   color: red;}
h1 {
    color: rbg(205,4,11)}
}

h2 {
    color: hsl (121, 96%, 47%);}
h3{
    color: #EE0AFA
}



