/*--RBG color--*/

body {
    background-color: rgb(47,39,64);}




/*--HEX Color--*/
h1 {
    background-color: #2E004D;}
/*--HSL color--*/
h2 {
    background-color: hsl(230, 96%, 27%);}
/*--Color Name--*/
h3 {
    background-color: springgreen;}

body {
   color: red;}
h1 {
    color: rgb(205,4,11)}
}

h2 {
    color: hsl(121, 96%, 47%);}
h3{
    color: #EE0AFA
}

body {
    font-family: Arial, Verdana, sans-serif;
    font-size: 0.750em;
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase;
    line-height: 1.4em;
    letter-spacing: 0.2em;
    text-align: justify;
}

h1  {
    font-family: Arial, Verdana, sans-serif;
font-size: 0.750em;
font-weight: normal;
font-style: normal;
text-transform: lowercase;
line-height: 1.4em;
letter-spacing: 0.2em;
text-align: justify;{

}

h2 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 0.750em;
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase;
    line-height: 1.4em;
    letter-spacing: 0.2em;
    text-align: justify;
}

h3 {
    font-family: Arial, Verdana, sans-serif;
    font-size: 0.750em;
    font-weight: normal;
    font-style: normal;
    text-transform: lowercase;
    line-height: 1.4em;
    letter-spacing: 0.2em;
    text-align: justify;
}

ul {
    list-style-type: none;}


body {
    width: 200px;
    height: 100px;
    padding: 30px;
    border: black;
    margin: 3px;
}

h1 {
    width: 200px;
    height: 50px;
    padding: 30px;
    border: black;
    margin: 3px;
}

h2 {
    width: 200px;
    height: 100px;
    padding: 30px;
    border: black;
    margin: 3px;
}

h3 {
    width: 200px;
    height: 100px;
    padding: 30px;
    border: black;
    margin: 3px;
}

body {
    border-radius: 80px, 50px;
    box-shadow: inset 0 0 10px #777777 ;

}

.column1of2 {
    float: left;
    width: 620px;
    margin: 10px;
    padding: 20px;}

.column2of2 {
    float: left;
    width: 300px;
    margin: 10px;
    padding: 20px;}

.clear {
    clear: left;
}

.column1of2 {
    float: left;
    width: 48%;
    margin: 3%;}
.column2of2 {
    float: left;
    width: 48%;
    margin: 3%;}

#body {
    background-image: url('images/dark-square.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;

}
#gradient {

background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#c146a1), color-stop(51%,#a80077), color-stop(100%,#db36a4));
background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
background: -o-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
background: -ms-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 );
}




